.left {
    float: left;
}
.clearfix {
    clear: both;
}
.fa-star {
    color: blue;
}
.fa-star-o {
    color: blue;
}

.form_labels {
    float: left;
}
.form_labels::after {
    content: ":";
}
.insert_link {
    border: 1px green solid;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px green;
}
.show_link {
    border: 1px orange solid;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px orange;
}
